# Ignore contents of data/ and notebooks/ but not the directories themselves
data/*
notebooks/*
!data/README.txt
!notebooks/README.txt

# Ignore virtual environment
venv/

# Ignore common system files
.DS_Store
Thumbs.db

# Ignore Python cache and logs
__pycache__/
*.py[cod]
*.log


# Ignore best Model
outputs/best_deepfake_model_epoch_1.pt
outputs/best_deepfake_model_epoch_10.pt
outputs/best_deepfake_model_epoch_11.pt
outputs/best_deepfake_model_epoch_12.pt
outputs/best_deepfake_model_epoch_14.pt
outputs/best_deepfake_model_epoch_2.pt
outputs/best_deepfake_model_epoch_3.pt
outputs/best_deepfake_model_epoch_4.pt
outputs/best_deepfake_model_epoch_6.pt
outputs/best_deepfake_model_epoch_9.pt
outputs/best_deepfake_model_epoch_18.pt