# Ignore contents of data/ and notebooks/ but not the directories themselves
data/*
notebooks/*
!data/README.txt
!notebooks/README.txt

# Ignore virtual environment
venv/

# Ignore common system files
.DS_Store
Thumbs.db

# Ignore Python cache and logs
__pycache__/
*.py[cod]
*.log

# Ignore Outputs
outputs/